@use '../../../assets/scss/base';

.AnswersRecord {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 70px;
  @media (max-width: 700px) {
    top: 0;
    right: calc(100vw - 300px);
  }
  &__right {
    margin: auto;
    svg {
      width: 50px;
      fill: base.$green;
      @media (max-width: 700px) {
        width: 30px;
      }
    }
  }
  &__error {
    margin: auto;
    svg {
      width: 50px;
      fill: base.$pink;
      @media (max-width: 700px) {
        width: 30px;
      }
    }
  }
  &__number {
    position: absolute;
    top: 24%;
    color: base.$text-color;
    text-shadow: 0 0 6px base.$text-color;
    font-weight: 600;
    font-size: 24px;
    margin-left: -5px;
  }
}
