@use '../../assets/scss/base';

.Record {
  &__title {
    font-size: 40px;
    color: base.$text-color;
  }
  &__score {
    font-size: 50px;
    color: base.$text-color;
  }
  &__table {
    width: 100%;
    &-text {
      font-size: 24px;
      color: base.$text-color;
      text-shadow: 2px 2px 15px base.$text-dark;
      text-align: left;
      height: 35px;
    }
  }
}